@page "/servers"

<h3>Servers</h3>
<br />
<br />

<div class="container-fluid text-center">
	<div class="row w-50">
		@foreach (var city in cities)
		{
			<div class="col">
				<div class="card">
					<img class="card-img-top" src="@($"/images/{city}.png")" alt="@city">
					<div class="card-body">
						<button type="button" class="btn btn-primary">@city</button>
					</div>
				</div>
			</div>
		}
	</div>
</div>

<br />
<br />

<ul>
	@foreach(var server in servers)
	{
		<li>@($"{server.Name} ({server.City}) is {(server.IsOnline ? "online" : "offline")}")</li>
	}
</ul>

@code {
	private IEnumerable<string> cities = CitiesRepository.GetCities();
	private IEnumerable<Server> servers = ServersRepository.GetServers();

}
