@page "/servers"

<h3>Servers</h3>
<br />
<br />

<ul>
	@foreach(var server in servers)
	{
		<li>@($"{server.Name} ({server.City}) is {(server.IsOnline ? "online" : "offline")}")</li>
	}
</ul>

@code {
	private IEnumerable<Server> servers = ServersRepository.GetServers();

}
