@page "/servers"

@rendermode InteractiveServer

<h3>Servers</h3>
<br />
<br />

<CityListComponent
	@rendermode="InteractiveServer"
	SelectCityCallback="HandleCitySelected"></CityListComponent>

<br />
<div class="input-group mb-3">
	<input type="text" class="form-control" placeholder="Search Servers"
		@bind-value="this.serverFilter"
		@bind-value:event="oninput"/>
	<button class="btn btn-outline-secondary" type="button" id="button-search" @onclick="HandleSearch">Search</button>
</div>
<br />

<ServerListComponent 
	@rendermode="InteractiveServer"
	SelectedCity="@this.selectedCity"></ServerListComponent>

<p>
	<a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
	private IEnumerable<string> cities = CitiesRepository.GetCities();
	private string selectedCity = "";

	private string _serverFilter = "";
	private string serverFilter
	{ 
		get => _serverFilter;
		set
		{
			_serverFilter = value;

			// Trigger a search when the filter changes
			//this.servers = ServersRepository.SearchServers(_serverFilter);
		}
	}

	private void HandleCitySelected(string selectedCity)
	{
		this.selectedCity = selectedCity;
	}

	private void HandleSearch()
	{
		//this.servers = ServersRepository.SearchServers(this.serverFilter);
		//this.selectedCity = "";
	}

}
