@page "/servers"

@rendermode InteractiveServer

<h3>Servers</h3>
<br />
<br />

<CityListComponent
	@rendermode="InteractiveServer"
	SelectCityCallback="HandleCitySelected" />

<br />

<SearchBarComponent SearchServerCallback="HandleSearch" />

<br />

<ServerListComponent 
	@rendermode="InteractiveServer"
	SelectedCity="@this.selectedCity"
	SearchFilter="@this.searchFilter"/>

<p>
	<a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
	private IEnumerable<string> cities = CitiesRepository.GetCities();
	private string selectedCity = "";
	private string searchFilter = "";

	private void HandleCitySelected(string selectedCity)
	{
		this.selectedCity = selectedCity;
		this.searchFilter = "";
	}

	private void HandleSearch(string searchFilter)
	{
		this.searchFilter = searchFilter;
	}
}
