@page "/servers"
@page "/servers/city/{cityName}"

@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@inject TorontoOnlineServersStore TorontoOnlineServersStore

<h3>Servers</h3>
<br />
<br />

<CityListComponent
	@ref="cityListComponent"
	SelectedCity="@this.selectedCity"
	SelectCityCallback="HandleCitySelected" />

<br />

<SearchBarComponent
	@ref="searchBarComponent"
	SearchServerCallback="HandleSearch"
	data-testid="t-servers.searchbar"/>

<br />

<CascadingValue Name="SelectedCity" Value="@this.selectedCity">
	<ServerListComponent
	@rendermode="InteractiveServer"
	SelectedCity="@this.selectedCity"
	SearchFilter="@this.searchFilter" />
</CascadingValue>

<p>
	<a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
	[Parameter]
	public string? CityName { get; set; }

	private IEnumerable<string> cities = CitiesRepository.GetCities();
	private string selectedCity = "";
	private string searchFilter = "";
	private CityListComponent? cityListComponent;
	private SearchBarComponent? searchBarComponent;

	private void HandleCitySelected(string selectedCity)
	{
		this.selectedCity = selectedCity;
		this.searchFilter = "";

		searchBarComponent?.ClearSearchBar();
	}

	private void HandleSearch(string searchFilter)
	{
		this.searchFilter = searchFilter;

		cityListComponent?.ClearSelection();
	}

	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			if (NavigationManager.Uri.Contains("city", StringComparison.OrdinalIgnoreCase) && !string.IsNullOrEmpty(CityName))
			{
				selectedCity = CityName;

				StateHasChanged();
			}
		}

		var serversToronto = ServersRepository.GetServersByCity("Toronto");

		if (serversToronto != null)
		{
			TorontoOnlineServersStore.SetNumServersOnline(serversToronto.Count(s => s.IsOnline));

		}
	}
}
