@if (Items?.Any() == true)
{
	foreach (var item in this.Items)
	{
		<ItemComponent Item="item" />
	}
}
else
{
	<li>No items found.</li>
}

@code {
	[Parameter]
	public List<TodoItem>? Items { get; set; }

}
