<div class="input-group mb-3 input-width" @attributes=this.InputAttributes>
	<input
		type="text"
		class="form-control"
		placeholder="Search Servers"
		@bind-value="this.searchFilter"
		@bind-value:event="oninput" />

	<button
		class="btn btn-outline-secondary"
		type="button"
		id="button-search"
		@onclick="HandleSearch"
	>
		Search
	</button>
</div>

@code {
	[Parameter]
	public EventCallback<string> SearchServerCallback { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object> InputAttributes { get; set; } = new();

	private string searchFilter = "";

	private void HandleSearch()
	{
		SearchServerCallback.InvokeAsync(this.searchFilter);
	}

	public void ClearSearchBar()
	{
		this.searchFilter = "";
	}
}
