@inject NavigationManager NavigationManager

@if (Server != null)
{
	<li @key="Server.Id">
		@($"{this.Server.Name} ({this.Server.City}) is {(this.Server.IsOnline ? "online" : "offline")}")
		
		&nbsp;
		
		<a href="/servers/edit/@this.Server.Id" class="btn btn-link">Edit</a>
		
		&nbsp;
		
		<EditForm Model="this.Server"
				  FormName="@($"form_DeleteServer_{this.Server.Id}")"
				  OnValidSubmit="@(() => { DeleteServer(this.Server.Id); })">
			<button type="submit" class="btn btn-primary">Delete</button>
		</EditForm>
	</li>
}

@code {
	[Parameter]
	public Server? Server { get; set; }

	private void DeleteServer(int serverId)
	{
		ServersRepository.DeleteServer(serverId);
		NavigationManager.NavigateTo("/servers", forceLoad: true);
	}
}
