@inject IServersEfCoreRepository ServersRepository;

@if (this.servers is null)
{
	<p>
		Loading...
	</p>
}

<table class="table table-striped">
	<RepeaterComponent Items="servers">
		<Header>
			<thead>
				<tr>
					<th>Name</th>
					<th>City</th>
					<th>Status</th>
					<th>People Online</th>
					<th>Actions</th>
					<th>Delete</th>
				</tr>
			</thead>
		</Header>
		<Row Context="server">
			<ServerComponent Server="server" />
		</Row>
	</RepeaterComponent>
</table>

@code {
	[Parameter]
	public string? SelectedCity { get; set; }

	[Parameter]
	public string? SearchFilter { get; set; }

	private List<Server>? servers;

	private Timer? timer;

	protected override void OnParametersSet()
	{
		if (!string.IsNullOrEmpty(SearchFilter))
		{
			servers = ServersRepository.SearchServers(SearchFilter);
		}
		else if (!string.IsNullOrEmpty(SelectedCity))
		{
			servers = ServersRepository.GetServersByCity(SelectedCity);
		}
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		//await base.OnAfterRenderAsync(firstRender);

		if (firstRender)
		{
			await Task.Delay(2000);

			servers = ServersRepository.GetServers();

			timer =
				new Timer(
					callback: _ => { base.InvokeAsync(StateHasChanged); }, // Must use InvokeAsync!
					state: null,
					dueTime: 2000,
					period: 2000);

			//StateHasChanged();
		}
	}
}
