<table class="table table-striped">
	<RepeaterComponent Items="servers">
		<Header>
			<thead>
				<tr>
					<th>Name</th>
					<th>City</th>
					<th>Status</th>
					<th>People Online</th>
					<th>Actions</th>
					<th>Delete</th>
				</tr>
			</thead>
		</Header>
		<Row Context="server">
			<ServerComponent Server="server" />
		</Row>
	</RepeaterComponent>
</table>

@code {
	[Parameter]
	public string? SelectedCity { get; set; }

	[Parameter]
	public string? SearchFilter { get; set; }

	private List<Server>? servers;

	protected override void OnParametersSet()
	{
		if (!string.IsNullOrEmpty(SearchFilter))
		{
			servers = ServersRepository.SearchServers(SearchFilter);
		}
		else
		{
			servers =
				!string.IsNullOrEmpty(SelectedCity)
					? ServersRepository.GetServersByCity(SelectedCity)
					: ServersRepository.GetServers();
		}
	}
}
