@page "/todolist"

@rendermode InteractiveServer

<h3>To Do</h3>
<br />

<button type="button" class="btn btn-primary" @onclick="AddTask">Add Task</button>

<br />
<br />

<ul class="list-unstyled">
	<ItemsListComponent Items="this.items"></ItemsListComponent>
</ul>

@code {
	private List<TodoItem> items = TodoItemsRepository.GetItems();

	private void AddTask()
	{
		TodoItemsRepository.AddItem(new TodoItem { Name = "New Task" });
		items = TodoItemsRepository.GetItems();
	}
}
